@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/bebas_neue/BebasNeue-Regular.woff2") format("woff2"),
       url("/fonts/bebas_neue/BebasNeue-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/nunito/Nunito-Regular.woff2") format("woff2"),
       url("/fonts/nunito/Nunito-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
